git+https://github.com/arago/python-arago-common.git@96c1618fc8ab861951930f768d02cb25e2adf9dd#egg=arago-common-base
git+https://github.com/arago/python-arago-pyactionhandler.git@25bed7c011f86615d97ec366c806c5269089aedd#egg=arago-pyactionhandler
certifi==2018.4.16
chardet==3.0.4
docopt==0.6.2
gevent==1.2.2
greenlet==0.4.13
idna==2.6
protobuf==3.5.2.post1
pyzmq==17.0.0
requests==2.20.0
six==1.11.0
urllib3==1.23
zmq==0.0.0
